/*
Colors used:
Background Color (White): #FFFFFF;
Primary Color (Persian Blue): #1D2ABF;
Secondary Color (Savoy Blue): #505CDF;
Other Accent Color (Space Cadet): #1E2148;
Text Color (Eerie Black): #1D1D1D;
*/

img {width: 100%;}
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Karla', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #1D1D1D;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
    color: #5460E0;
    text-decoration: none; /* No underlining */
  }

  a:hover,
  a:focus {
    color: #ffffffae;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
    color: #FFFFFF;
  }
  
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #1D2ABF;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #1E2148; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }


  .button.contact {
    background-color: transparent;
    color: #1D2ABF;
    text-transform: uppercase;
    border: 2px solid #1D2ABF;
  }
  .button.contact:hover {
    background-color: #1D2ABF;
    color: #ffffff;
  }

/* Layout styling */

header {
  background-color: #505CDF;
  padding: 10px 0 4px;
  border: solid #BDBDBD 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#work {
  margin: 0 25px;
}

#hero{
  text-align: center; /* Centers text */
  margin: 0 25px;
}
#hero span {
  display: block;
}

#hero{
  margin: 0 25px;
}

#contact{
  margin: 0 25px;
}

.logo {
  max-width: 150px;
}
.headshot {
  margin: 25px 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

nav > ul > li > a:hover {
  color: #ffffffa3;
  text-decoration: none;
}

nav > ul > li > a:active {
  color: #FFFFFF;
}

.headshot {
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills{
  text-align: left;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul {
    margin: 1em 0;
  }
 
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child{
    display: none;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  body{
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row:after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  body{
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row:after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  body{
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row:after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    min-width: 250px;
  }
}

#about-picture {
width: 100%;
max-width: 100%;
height: auto;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}